@inject UserService client

@if (EditProject)
{
    <thead class="table-primary text-center">
        <tr>
            <td colspan="5"><h4 class="table table-responsive-md font-weight-bolder">Редактирование проекта № @Number</h4></td>
        </tr>
        <tr>
            <th>№ проекта</th>
            <th>Наименование проекта</th>
            <th>Перечень видов работ</th>
            <th>Перечень необходимых комплектующих</th>
            <th>Количество</th>
        </tr>
    </thead>
}
@if (NewProject)
{
    <thead class="table-primary text-center">
        <tr>
            <td colspan="8"><h4 class="table table-responsive-md font-weight-bolder">Редактирование нового проекта № @Number</h4></td>
        </tr>
        <tr>
            <th>№ проекта</th>
            <th>Наименование проекта</th>
            <th>Перечень видов работ</th>
            <th>Перечень необходимых комплектующих</th>
            <th>Количество</th>
            <th colspan="3"></th>
        </tr>
    </thead>
}
@if (PerformerOfWorksNull)
{
    <thead class="table-primary text-center">
        <tr>
            <td colspan="8"><h4 class="table table-responsive-md font-weight-bolder">Список проектов:</h4></td>
        </tr>
        <tr>
            <th>№ проекта</th>
            <th>Наименование проекта</th>
            <th>Перечень видов работ</th>
            <th>Перечень необходимых комплектующих</th>
            <th>Дата начала работ</th>
            <th>Дата окончания работ</th>
            <th>Статус готовности</th>
            <th></th>
        </tr>
    </thead>
}
@if (PerformerOfWorks)
{
    <thead class="table-primary text-center">
        <tr>
            <td colspan="8"><h4 class="table table-responsive-md font-weight-bolder">Список ваших задач:</h4></td>
        </tr>
        <tr>
            <th>№ проекта</th>
            <th>Наименование проекта</th>
            <th>Перечень видов работ</th>
            <th>Перечень необходимых комплектующих</th>
            <th>Дата начала работ</th>
            <th>Дата окончания работ</th>
            <th>Статус готовности</th>
            <th></th>
        </tr>
    </thead>
}
@if (Admin)
{
    <thead class="table-primary">
        <tr><td colspan="6" class="table-primary text-center"><h3 class="table table-responsive-md font-weight-bolder">Aктивированные пользователи:</h3></td></tr>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Profession</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
}
@if (AdminRegister)
{
    <thead class="table-primary">
        <tr><td colspan="5" class="table-primary text-center"><h3 class="table table-responsive-md text-center font-weight-bolder">Добавление нового пользователя</h3></td></tr>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Profession</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
}
@if (AdminEdit)
{
    <thead class="table-primary">
        <tr><td colspan="5" class="table-primary text-center"><h3 class="table table-responsive-md text-center font-weight-bolder">Редактирование профиля:  @Login @Surname</h3></td></tr>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Profession</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
}
@if (Planner)
{
    <thead class="table-primary">
        <tr>
            <th>№ проекта</th>
            <th>Наименование проекта</th>
            <th>Перечень видов работ</th>
            <th>Перечень необходимых комплектующих</th>
            <th>Исполнитель</th>
            <th>Статус готовности</th>
            <th>Дата и время</th>
            <th></th>
        </tr>
    </thead>
}
@if (PlannerPanel)
{
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
}

@if (Warehouseman)
{
    <thead class="table-primary">
        <tr>
            <th>Наименование товара</th>
            <th>Категория товара</th>
            <th>Производитель</th>
            <th>Артикул</th>
            <th>Количество на складе</th>
            <th></th>
        </tr>
    </thead>
}
@if (NotWarehouseman)
{
    <thead>
        <tr class="alert-warning">
            <td colspan="5">
                <h1 class=" text-center font-weight-bold">
                    Вы вошли под именем: <span style="color: red"><u> @client.Name </u></span> должность: <span style="color: red"><u> @client.Profession </u></span>.
                    У вас ограниченный доступ к этой странице.
                </h1>
            </td>
        </tr>
        <tr class="table-primary">
            <th>Наименование товара</th>
            <th>Категория товара</th>
            <th>Производитель</th>
            <th>Артикул</th>
            <th>Количество на складе</th>
        </tr>
    </thead>
}
@if (WarehousemanPanel)
{
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
}
@if (MessagesUnread)
{
    <tr>
        <td colspan="3"><h4 class="font-weight-bolder">Новые сообщения:</h4></td>
    </tr>
}
@if (MessagesRead)
{
    <tr>
        <td colspan="3"><h4 class="font-weight-bolder">Прочитанные сообщения:</h4></td>
    </tr>
}
@if (MessagesSent)
{
    <tr>
        <td colspan="3"><h4 class="font-weight-bolder">Отправленные сообщения:</h4></td>
    </tr>
}
@code {
    [Parameter] public bool EditProject { get; set; }
    [Parameter] public bool NewProject { get; set; }

    [Parameter] public bool PerformerOfWorksNull { get; set; }
    [Parameter] public bool PerformerOfWorks { get; set; }

    [Parameter] public bool Admin { get; set; }
    [Parameter] public bool AdminRegister { get; set; }
    [Parameter] public bool AdminEdit { get; set; }
    [Parameter] public bool Planner { get; set; }
    [Parameter] public bool PlannerPanel { get; set; }
    [Parameter] public bool Warehouseman { get; set; }
    [Parameter] public bool NotWarehouseman { get; set; }
    [Parameter] public bool WarehousemanPanel { get; set; }

    [Parameter] public bool MessagesUnread { get; set; }
    [Parameter] public bool MessagesRead { get; set; }
    [Parameter] public bool MessagesSent { get; set; }

    [Parameter] public int Number { get; set; }
    [Parameter] public string Login { get; set; }
    [Parameter] public string Surname { get; set; }
}
