@page "/account"
@inject NavigationManager navigate
@inject Client client

<div class="col-md-6 offset-md-3">
    <table class="table table-responsive-md">
        <thead class="table-primary text-center">
            <tr>
                <td colspan="5"><h4 class="table table-responsive-md font-weight-bolder">Личный кабинет</h4></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Имя:</td>
                @if (!_editName)
                {
                    <td>@client.Name</td>
                    <td><button class="btn btn-primary" @onclick="EditName">Редактировать</button></td>
                }
                else
                {
                    <td><input class="form-control" placeholder="Login" @bind-value="@client.Name" /></td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
            <tr>
                <td>Фамилия:</td>
                @if (!_editSurName)
                {
                    <td>@client.SurName</td>
                    <td><button class="btn btn-primary" @onclick="EditSurName">Редактировать</button></td>
                }
                else
                {
                    <td><input class="form-control" placeholder="Login" @bind-value="@client.SurName" /></td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
            <tr>
                <td>Должность:</td>
                @if (!_editProfession)
                {
                    <td>@client.Profession</td>
                    <td><button class="btn btn-primary" @onclick="EditProfession">Редактировать</button></td>
                }
                else
                {
                    <td>
                        <select class="form-control" @onchange="SelectionProfession">
                            <option class="text-center" value="-1>\">Выбрать должность</option>
                            @foreach (var item in professions)
                            {
                                <option value="@item.Profession">@item.Profession</option>
                            }
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
            <tr>
                <td>E-mail:</td>
                @if (!_editEmail)
                {
                    <td>@client.Email</td>
                    <td><button class="btn btn-primary" @onclick="EditEmail">Редактировать</button></td>
                }
                else
                {
                    <td><input class="form-control" placeholder="Login" @bind-value="@client.Email" /></td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
            <tr>
                <td>Сот.телефон:</td>
                @if (!_editPhonenumber)
                {
                    <td>@client.PhoneNumber</td>
                    <td><button class="btn btn-primary" @onclick="EditPhonenumber">Редактировать</button></td>
                }
                else
                {
                    <td><input class="form-control" placeholder="Login" @bind-value="@client.PhoneNumber" /></td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
            <tr>
                <td>Пароль:</td>
                @if (!_editPassword)
                {
                    <td>@client.Password</td>
                    <td><button class="btn btn-primary" @onclick="EditPassword">Редактировать</button></td>
                }
                else
                {
                    <td><input class="form-control" placeholder="Login" @bind-value="@client.Password" /></td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>

@code {
    private bool _editName;
    private bool _editSurName;
    private bool _editProfession;
    private bool _editEmail;
    private bool _editPhonenumber;
    private bool _editPassword;
    List<User> professions = User.GetListOfProfessions();

    private void EditName()
    {
        _editName = true;
        _editSurName = false;
        _editProfession = false;
        _editEmail = false;
        _editPhonenumber = false;
        _editPassword = false;
    }
    private void EditSurName()
    {
        _editName = false;
        _editSurName = true;
        _editProfession = false;
        _editEmail = false;
        _editPhonenumber = false;
        _editPassword = false;
    }
    private void EditProfession()
    {
        _editName = false;
        _editSurName = false;
        _editProfession = true;
        _editEmail = false;
        _editPhonenumber = false;
        _editPassword = false;
    }
    private void EditEmail()
    {
        _editName = false;
        _editSurName = false;
        _editProfession = false;
        _editEmail = true;
        _editPhonenumber = false;
        _editPassword = false;
    }
    private void EditPhonenumber()
    {
        _editName = false;
        _editSurName = false;
        _editProfession = false;
        _editEmail = false;
        _editPhonenumber = true;
        _editPassword = false;
    }
    private void EditPassword()
    {
        _editName = false;
        _editSurName = false;
        _editProfession = false;
        _editEmail = false;
        _editPhonenumber = false;
        _editPassword = true;
    }
    private void Cancel()
    {
        _editName = false;
        _editSurName = false;
        _editProfession = false;
        _editEmail = false;
        _editPhonenumber = false;
        _editPassword = false;
    }
    private void SelectionProfession(ChangeEventArgs args)
    {
        client.Profession = args.Value.ToString();
    }
    private void EditUser()
    {
        bool active = true;
        if (client.Name == "" || client.SurName == "" || client.Email == "" || client.PhoneNumber == "" || client.Password == "")
        {
            //_isNotComplete = true;
        }
        else
        {
            string buffer = MongoDataBase.FindUserPassword(client.Name);
            MongoDataBase.ReplaceUser(buffer, new User(client.Name, client.SurName, client.Profession, client.Email, client.PhoneNumber, client.Password, active));
            Cancel();
            //_isComplete = true;
            //_isNotComplete = false;
        }
        OnInitialized();
    }
}
