@page "/account"
@inject NavigationManager navigate
@inject UserService client

<div class="col-md-6 offset-md-3">
    <table class="table table-responsive-md">
        <thead class="table-primary text-center">
            <tr>
                <td colspan="5"><h4 class="table table-responsive-md font-weight-bolder">Личный кабинет</h4></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Имя:</td>
                @if (!_editName)
                {
                    <td>@client.Name</td>
                    <td><button class="btn btn-primary" @onclick="EditName">Редактировать</button></td>
                }
                else
                {
                    <td><input class="form-control" placeholder="Login" @bind-value="@client.Name" /></td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
            <tr>
                <td>Фамилия:</td>
                @if (!_editSurName)
                {
                    <td>@client.SurName</td>
                    <td><button class="btn btn-primary" @onclick="EditSurName">Редактировать</button></td>
                }
                else
                {
                    <td><input class="form-control" placeholder="Login" @bind-value="@client.SurName" /></td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
            <tr>
                <td>Должность:</td>
                @if (!_editProfession)
                {
                    <td>@client.Profession</td>
                    <td><button class="btn btn-primary" @onclick="EditProfession">Редактировать</button></td>
                }
                else
                {
                    <td>
                        <select class="form-control" @onchange="SelectionProfession">
                            <option class="text-center" value="-1>\">Выбрать должность</option>
                            @foreach (var item in professions)
                            {
                                <option value="@item.Profession">@item.Profession</option>
                            }
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
            <tr>
                <td>E-mail:</td>
                @if (!_editEmail)
                {
                    <td>@client.Email</td>
                    <td><button class="btn btn-primary" @onclick="EditEmail">Редактировать</button></td>
                }
                else
                {
                    <td><input class="form-control" placeholder="Login" @bind-value="@client.Email" /></td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
            <tr>
                <td>Сот.телефон:</td>
                @if (!_editPhonenumber)
                {
                    <td>@client.PhoneNumber</td>
                    <td><button class="btn btn-primary" @onclick="EditPhonenumber">Редактировать</button></td>
                }
                else
                {
                    <td><input class="form-control" placeholder="Login" @bind-value="@client.PhoneNumber" /></td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
            <tr>
                <td>Пароль:</td>
                @if (!_editPassword)
                {
                    <td>@client.Password</td>
                    <td><button class="btn btn-primary" @onclick="EditPassword">Редактировать</button></td>
                }
                else
                {
                    <td><input class="form-control" placeholder="Login" @bind-value="@client.Password" /></td>
                    <td>
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="Cancel">Отмена</button>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
