@page "/admin"
@inject UserService client
@inject NavigationManager navigate

<div class="modal-body">
    <table class="table table-responsive-md">
        <THeadComponent Admin="true"></THeadComponent>
        <tbody class="border-bottom border-dark">
            <TemplateTable Items="client.listOfUsers">
                <ItemTemplate Context="item">
                    @if (item.Active == true)
                    {
                        <td class="border-right">@item.Name</td>
                        <td class="border-right">@item.SurName</td>
                        <td class="border-right">@item.Profession</td>
                        <td class="border-right">@item.Email</td>
                        <td class="border-right">@item.PhoneNumber</td>
                        <td>
                            <button class="btn" title="Изменить" @onclick="()=>isEditActiv((item.Name).ToString())"><img class="img-thumbnail" src="Edit.jpg" height="35" width="35" /></button>
                            <button class="btn" title="Удалить" @onclick="()=>DeleteUser((item.Name).ToString())"><img class="img-thumbnail" src="Delete.jpg" height="35" width="35" /></button>
                        </td>
                    }
                </ItemTemplate>
            </TemplateTable>
        </tbody>
        <tr><td colspan="6" class="table-primary text-center"><h3 class="table table-responsive-md font-weight-bolder">Неактивированные пользователи:</h3></td></tr>
        <tbody>
            <TemplateTable Items="client.listOfUsers">
                <ItemTemplate Context="item">
                    @if (item.Active == false)
                    {
                        <td class="border-right">@item.Name</td>
                        <td class="border-right">@item.SurName</td>
                        <td class="border-right">@item.Profession</td>
                        <td class="border-right">@item.Email</td>
                        <td class="border-right">@item.PhoneNumber</td>
                        <td>
                            <button class="btn" title="Активировать профиль"  @onclick="()=>ActivateUser((item.Name).ToString())"><img class="img-thumbnail" src="Successfully.jpg" height="35" width="35" /></button>
                            <button class="btn" title="Удалить" @onclick="()=>DeleteUser((item.Name).ToString())"><img class="img-thumbnail" src="Delete.jpg" height="35" width="35" /></button>
                        </td>
                    }
                </ItemTemplate>
            </TemplateTable>
            @if (_isRegisterComplete)
            {
                <MessageComponent AdminRegisterUser="true" />
            }
            @if (_isEditComplete)
            {
                <MessageComponent AdminEditUser="true" />
            }
            @if (_isNotComplete)
            {
                <MessageComponent AdminIsNotComplete="true" />
            }
        </tbody>
    </table>
    <table class="table table-responsive-md">
        @if (_newRegistartion || _isEditActiv)
        {
            @if (_newRegistartion)
            {
                <THeadComponent AdminRegister="true" Login="@client.NewName" Surname="@client.SurName"></THeadComponent>
            }
            else
            {
                <THeadComponent AdminEdit="true" Login="@client.NewName" Surname="@client.SurName"></THeadComponent>
            }
            <tbody class="table-primary">
                <tr>
                    <td><input class="form-control" placeholder="Login" @bind-value="@client.NewName" /></td>
                    <td><input class="form-control" placeholder="Surname" @bind-value="@client.SurName" /></td>
                    <td>
                        <select class="form-control" @onchange="SelectionProfession">
                            @if (_newRegistartion)
                            {
                                <option class="text-center" value="-1>\">Выбрать должность</option>
                            }
                            else
                            {
                                <option class="text-center" value="-1>\">@client.Profession</option>
                            }
                            @foreach (var item in client.professions)
                            {
                                <option value="@item.Profession">@item.Profession</option>
                            }
                        </select>
                    </td>
                    <td><input class="form-control" placeholder="E-mail" @bind-value="@client.Email" /></td>
                    <td><input class="form-control" placeholder="Phone Number" @bind-value="@client.PhoneNumber" /></td>
                </tr>
            </tbody>
        }
        <tfoot class="table-primary">
            <tr>
                @if (!_newRegistartion && !_isEditActiv)
                {
                    <td align="left" colspan="5">
                        <button class="btn btn-primary" @onclick="RegistrationActive">Добавить нового пользователя</button>
                    </td>
                }
                @if (_newRegistartion)
                {
                    <td align="right" colspan="5">
                        <button class="btn btn-primary" @onclick="RegisterUser">Зарегистрировать нового пользователя</button>
                        <button class="btn btn-primary" @onclick="CloseAll">Отмена</button>
                    </td>
                }
                @if (_isEditActiv)
                {
                    <td align="right" colspan="5">
                        <button class="btn btn-primary" @onclick="EditUser">Внести изменения</button>
                        <button class="btn btn-primary" @onclick="CloseAll">Отмена</button>
                    </td>
                }
            </tr>
        </tfoot>
    </table>
</div>