@page "/message"
@inject UserService client
@inject IRepository repository

<table class="table table-responsive-md">
    <thead class="table-primary text-center">
        @if (!_unreadMessages)
        {
            <THeadComponent MessagesUnread="true" />
        }
        @if (_readMessages)
        {
            <THeadComponent MessagesRead="true" />
        }
        @if (_sentMessages)
        {
            <THeadComponent MessagesSent="true" />
        }
        <tr>
            @if (!_unreadMessages || _readMessages)
            {
                <th class="border-right">Отправитель</th>
                <th class="border-right">Сообщение</th>
            }
            @if (_sentMessages || _newMessage)
            {
                <th class="border-right">Получатель</th>
                <th class="border-right">Сообщение</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!_unreadMessages)
        {
            <TemplateTable Items="unreadMessages">
                <ItemTemplate Context="item">
                    <td class="border-right">@item.Sender</td>
                    <td class="border-right">@item.Messages</td>
                    <td align="right"><input type="checkbox" title="Отметить как прочитанное" @onchange="() => ReadMessege(item.Id)" /></td>
                </ItemTemplate>
                <ListEmpty>
                    <MessageComponent MessengerNoNewMessage="true" />
                </ListEmpty>
            </TemplateTable>
        }
        @if (_readMessages)
        {
            <TemplateTable Items="readMessages">
                <ItemTemplate Context="item">
                    <td class="border-right">@item.Sender</td>
                    <td class="border-right">@item.Messages</td>
                    <td align="right"><button class="btn" title="Удалить" @onclick="()=>DeleteMessege(item.Id)"><img class="img-thumbnail" src="Delete.jpg" height="35" width="35" /></button></td>
                </ItemTemplate>
                <ListEmpty>
                    <MessageComponent MessengerNoMessage="true" MessengerFolder="Прочитанные" />
                </ListEmpty>
            </TemplateTable>
        }
        @if (_sentMessages)
        {
            <TemplateTable Items="sentMessages">
                <ItemTemplate Context="item">
                    <td class="border-right">@item.Recipient</td>
                    <td class="border-right">@item.Messages</td>
                    <td align="right"><button class="btn" title="Удалить" @onclick="()=>DeleteMessege(item.Id)"><img class="img-thumbnail" src="Delete.jpg" height="35" width="35" /></button></td>
                </ItemTemplate>
                <ListEmpty>
                    <MessageComponent MessengerNoMessage="true" MessengerFolder="Отправленные" />
                </ListEmpty>
            </TemplateTable>
        }
        @if (_newMessage)
        {
            if (_newMessagesComplete)
            {
                <MessageComponent MessengerNewMessageComplete="true" />
            }
            if (_newMessagesNotComplete)
            {
                <MessageComponent MessengerNewMessageNotComplete="true" />
            }
            <tr>
                <td class="border-right">
                    <select class="form-control" @onchange="SelectionUser">
                        <option class="text-center" value="-1>\">Выбрать получателя</option>
                        @foreach (var item in client.listOfUsers)
                        {
                            <option value="@item.Name">@item.Name @item.SurName, @item.Profession</option>
                        }
                    </select>
                </td>
                <td class="border-right"><input class="form-control" placeholder="Сообщение" @bind-value="@_message" /></td>
                <td>
                    <button class="btn alert-primary" @onclick="SendAMessage">Отправить</button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot class="table-primary text-center">
        <tr>
            <td colspan="3">
                <button class="btn btn-primary" @onclick="NewMessage">Написать новое сообщение</button>
                <button class="btn btn-primary" @onclick="UnreadMessage">Непрочитанные</button>
                <button class="btn btn-primary" @onclick="ReadMessage">Прочитанные</button>
                <button class="btn btn-primary" @onclick="SentMessage">Отправленные</button>
            </td>
        </tr>
    </tfoot>
</table>